<header class="sticky top-0 z-50 w-full md:px-0 py-2 md:py-3 bg-white dark:bg-slate-900">
    <nav class="flex flex-row max-w-4xl mx-2 md:mx-auto items-center justify-between">
        <div class="grow-1 md:grow-0 md:basis-1/4 font-extrabold justify-center">
            <a href="{{@site.url}}" class="text-lg md:text-xl items-center flex flex-row">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" class=" h-12 w-12 mx-0" />
                {{/if}}
                <span class="">{{@site.title}}</span>
            </a>
        </div>
        <div class="hidden md:flex grow grid grid-flow-col auto-cols-max justify-center">
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
        </div>
        <div class="hidden md:block md:basis-1/4 text-right">
            {{#if @member}}
                <button class="font-semibold" data-portal="account">Account</button>
                {{#unless @member.paid}}
                    <button class="text-emerald-700 dark:text-emerald-300 font-semibold" data-portal="account/plans">Upgrade</button>
                {{/unless}}
            {{else}}
                <button class="font-semibold mr-2" data-portal="signin">Login</button>
                <button class="text-emerald-700 dark:text-emerald-300 font-semibold" data-portal="signup">Subscribe</button>
            {{/if}}
        </div>
        <div id="menu-btn" class="md:hidden justify-end">
            <svg class="icon">
                <use xlink:href="#menu"></use>
            </svg>
        </div>
    </nav>
</header>
<div id="mobile-menu" class="hidden fixed w-screen h-screen z-50 overscroll-auto  overflow-auto">
    <div class="relative m-4 bg-gray-100 dark:bg-slate-800 rounded-xl">
    <div id="close-btn" class="md:hidden justify-end absolute top-0 right-0">
        <svg class="icon">
            <use xlink:href="#close"></use>
        </svg>
    </div>
    <ul class="p-4" role="menu">
        {{#foreach navigation}}
            <li role="menuitem" class="text-lg my-2 font-semibold flex">
                <a href="{{url absolute="true"}}" class="w-full">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
    </div>
</div>
