<nav role="navigation" class="text-center">
    {{#if prev}}
        <a href="{{page_url prev}}">&larr; {{t "Newer Posts"}}</a>
    {{/if}}
    <span>{{ t "Page {page} of {pages}" page=page pages=pages }}</span>
    {{#if next}}
        <a href="{{page_url next}}">{{ t "Older Posts" }} &rarr;</a>
    {{/if}}
</nav>