<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark"{{/match}}{{#match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
    <head>
        {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
        <title>{{meta_title page=(t " (Page %)")}}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
        this will take care of caching and cache-busting automatically --}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
        <script>
            var siteUrl = '{{@site.url}}';
            {{#if @custom.content_api_key_for_search}}
                var gh_search_key = '{{@custom.content_api_key_for_search}}';
            {{/if}}
        </script>
        {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
        it should always be the last tag before the closing head tag --}}
        {{ghost_head}}
    </head>
    <body class="{{body_class}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Modern sans-serif"}} has-sans-body{{/match}}">
        {{> icons}}
        <div class="flex flex-col">
            {{> header}}
            <div class="flex-grow z-0">
                {{{body}}}
            </div>
            {{> footer }}
        </div>
        {{ghost_foot}}
        <script type="module" src="{{asset "js/index.js"}}"></script>
    </body>
</html>